<?xml version="1.0"?>
<ruleset name="MageOS_Blog">
    <rule ref="Magento2"/>
    <file>Api</file>
    <file>Block</file>
    <file>Controller</file>
    <file>Model</file>
    <file>Plugin</file>
    <file>Ui</file>
    <file>ViewModel</file>
</ruleset>
