includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
parameters:
    level: 8
    paths:
        - Api
        - Controller
        - Model
        - Ui
    treatPhpDocTypesAsCertain: false
