includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
parameters:
    level: 8
    paths:
        - Api
        - Block
        - Controller
        - Model
        - Plugin
        - Ui
        - ViewModel
    treatPhpDocTypesAsCertain: false
