<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageOS\Blog\Api\Data\PostInterface"
                type="MageOS\Blog\Model\Post"/>
    <preference for="MageOS\Blog\Api\Data\CategoryInterface"
                type="MageOS\Blog\Model\Category"/>
    <preference for="MageOS\Blog\Api\Data\TagInterface"
                type="MageOS\Blog\Model\Tag"/>
    <preference for="MageOS\Blog\Api\Data\AuthorInterface"
                type="MageOS\Blog\Model\Author"/>
    <preference for="MageOS\Blog\Api\Data\PostSearchResultsInterface"
                type="MageOS\Blog\Model\PostSearchResults"/>
    <preference for="MageOS\Blog\Api\Data\CategorySearchResultsInterface"
                type="MageOS\Blog\Model\CategorySearchResults"/>
    <preference for="MageOS\Blog\Api\Data\TagSearchResultsInterface"
                type="MageOS\Blog\Model\TagSearchResults"/>
    <preference for="MageOS\Blog\Api\Data\AuthorSearchResultsInterface"
                type="MageOS\Blog\Model\AuthorSearchResults"/>
    <preference for="MageOS\Blog\Api\AuthorRepositoryInterface"
                type="MageOS\Blog\Model\AuthorRepository"/>
    <preference for="MageOS\Blog\Api\CategoryRepositoryInterface"
                type="MageOS\Blog\Model\CategoryRepository"/>
    <preference for="MageOS\Blog\Api\PostRepositoryInterface"
                type="MageOS\Blog\Model\PostRepository"/>
    <preference for="MageOS\Blog\Api\TagRepositoryInterface"
                type="MageOS\Blog\Model\TagRepository"/>
    <preference for="MageOS\Blog\Api\UrlKeyGeneratorInterface"
                type="MageOS\Blog\Model\UrlKeyGenerator"/>
    <preference for="MageOS\Blog\Api\PostManagementInterface"
                type="MageOS\Blog\Model\PostManagement"/>
    <preference for="MageOS\Blog\Model\UrlKeyGenerator\CollisionChecker"
                type="MageOS\Blog\Model\UrlKeyGenerator\DbCollisionChecker"/>
    <virtualType name="MageOS\Blog\Model\ResourceModel\Post\Grid\Collection"
                 type="MageOS\Blog\Ui\DataProvider\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageos_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <virtualType name="MageOS\Blog\Model\ResourceModel\Category\Grid\Collection"
                 type="MageOS\Blog\Ui\DataProvider\Category\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageos_blog_category</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\Blog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    <virtualType name="MageOS\Blog\Model\ResourceModel\Tag\Grid\Collection"
                 type="MageOS\Blog\Ui\DataProvider\Tag\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageos_blog_tag</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\Blog\Model\ResourceModel\Tag</argument>
        </arguments>
    </virtualType>
    <virtualType name="MageOS\Blog\Model\ResourceModel\Author\Grid\Collection"
                 type="MageOS\Blog\Ui\DataProvider\Author\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageos_blog_author</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\Blog\Model\ResourceModel\Author</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mageos_blog_post_listing_data_source" xsi:type="string">MageOS\Blog\Model\ResourceModel\Post\Grid\Collection</item>
                <item name="mageos_blog_category_listing_data_source" xsi:type="string">MageOS\Blog\Model\ResourceModel\Category\Grid\Collection</item>
                <item name="mageos_blog_tag_listing_data_source" xsi:type="string">MageOS\Blog\Model\ResourceModel\Tag\Grid\Collection</item>
                <item name="mageos_blog_author_listing_data_source" xsi:type="string">MageOS\Blog\Model\ResourceModel\Author\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="MageOS\Blog\Ui\DataProvider\Post\Form\DataProvider">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\PostImageUpload</argument>
        </arguments>
    </type>
    <type name="MageOS\Blog\Ui\DataProvider\Author\Form\DataProvider">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\AuthorImageUpload</argument>
        </arguments>
    </type>
    <type name="MageOS\Blog\Controller\Adminhtml\Post\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\PostImageUpload</argument>
        </arguments>
    </type>
    <type name="MageOS\Blog\Controller\Adminhtml\Author\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\AuthorImageUpload</argument>
        </arguments>
    </type>
    <type name="MageOS\Blog\Controller\Adminhtml\Post\UploadImage">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\PostImageUpload</argument>
        </arguments>
    </type>
    <type name="MageOS\Blog\Controller\Adminhtml\Author\UploadImage">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\AuthorImageUpload</argument>
        </arguments>
    </type>
    <virtualType name="MageOS\Blog\PostImageUpload" type="MageOS\Blog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">mageos_blog/tmp</argument>
            <argument name="basePath" xsi:type="string">mageos_blog</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="svg" xsi:type="string">svg</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MageOS\Blog\Api\PostRepositoryInterface">
        <plugin name="mageos_blog_post_url_rewrite"
                type="MageOS\Blog\Plugin\Repository\Post\UrlRewritePlugin"
                sortOrder="10"/>
    </type>
    <type name="MageOS\Blog\Api\CategoryRepositoryInterface">
        <plugin name="mageos_blog_category_url_rewrite"
                type="MageOS\Blog\Plugin\Repository\Category\UrlRewritePlugin"
                sortOrder="10"/>
    </type>
    <type name="MageOS\Blog\Api\TagRepositoryInterface">
        <plugin name="mageos_blog_tag_url_rewrite"
                type="MageOS\Blog\Plugin\Repository\Tag\UrlRewritePlugin"
                sortOrder="10"/>
    </type>
    <type name="MageOS\Blog\Api\AuthorRepositoryInterface">
        <plugin name="mageos_blog_author_url_rewrite"
                type="MageOS\Blog\Plugin\Repository\Author\UrlRewritePlugin"
                sortOrder="10"/>
    </type>
    <virtualType name="MageOS\Blog\AuthorImageUpload" type="MageOS\Blog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">mageos_blog/author/tmp</argument>
            <argument name="basePath" xsi:type="string">mageos_blog/author</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="webp" xsi:type="string">webp</item>
            </argument>
        </arguments>
    </virtualType>
</config>
