<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MageOS\Blog\Api\Data\BlogPostInterface" type="MageOS\Blog\Model\Post" />
    <preference for="MageOS\Blog\Api\Data\BlogCategoryInterface" type="MageOS\Blog\Model\Category" />
    <preference for="MageOS\Blog\Api\SitemapConfigInterface" type="MageOS\Blog\Model\Sitemap\SitemapConfig" />
    <preference for="MageOS\Blog\Api\PostManagementInterface" type="MageOS\Blog\Model\PostManagement" />
    <preference for="MageOS\Blog\Api\CategoryManagementInterface" type="MageOS\Blog\Model\CategoryManagement" />
    <preference for="MageOS\Blog\Api\PostRepositoryInterface" type="MageOS\Blog\Model\PostRepository" />
    <preference for="MageOS\Blog\Api\CategoryRepositoryInterface" type="MageOS\Blog\Model\CategoryRepository" />
    <preference for="MageOS\Blog\Api\TagRepositoryInterface" type="MageOS\Blog\Model\TagRepository" />
    <preference for="MageOS\Blog\Api\CommentRepositoryInterface" type="MageOS\Blog\Model\CommentRepository" />
    <preference for="MageOS\Blog\Api\ShortContentExtractorInterface" type="MageOS\Blog\Model\ShortContentExtractor" />
    <preference for="MageOS\Blog\Api\UrlResolverInterface" type="MageOS\Blog\Model\UrlResolver" />

    <virtualType name="MageOS\Blog\ImageUpload" type="MageOS\Blog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">mageos_blog/tmp</argument>
            <argument name="basePath" xsi:type="string">mageos_blog</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="MageOS\Blog\Controller\Adminhtml\Post\Upload\FeaturedImg">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\ImageUpload</argument>
        </arguments>
    </type>
    <type name="MageOS\Blog\Controller\Adminhtml\Post\Upload\OgImg">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\ImageUpload</argument>
        </arguments>
    </type>
    <type name="MageOS\Blog\Controller\Adminhtml\Post\Upload\Gallery">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MageOS\Blog\ImageUpload</argument>
        </arguments>
    </type>

    <type name="Magento\AdminGws\Model\Models">
        <plugin name="blog_plugin_admingws_model_models_plugin"
                type="\MageOS\Blog\Plugin\Magento\AdminGws\Model\ModelsPlugin"
                sortOrder="10"/>
    </type>

    <virtualType name="MageOS\Blog\Block\Widget\PostLink" type="MageOS\Blog\Block\Widget\Link">
        <arguments>
            <argument name="modelRepository" xsi:type="object">MageOS\Blog\Api\PostRepositoryInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="MageOS\Blog\Block\Widget\CategoryLink" type="MageOS\Blog\Block\Widget\Link">
        <arguments>
            <argument name="modelRepository" xsi:type="object">MageOS\Blog\Api\CategoryRepositoryInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="MageOS\Blog\Block\Widget\TagLink" type="MageOS\Blog\Block\Widget\Link">
        <arguments>
            <argument name="modelRepository" xsi:type="object">MageOS\Blog\Api\TagRepositoryInterface</argument>
        </arguments>
    </virtualType>


    <type name="Magento\PageBuilder\Model\UpgradableEntitiesPool">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="blog_post" xsi:type="array">
                    <item name="identifier" xsi:type="string">post_id</item>
                    <item name="fields" xsi:type="array">
                        <item name="content" xsi:type="boolean">true</item>
                        <item name="short_content" xsi:type="boolean">true</item>
                    </item>
                </item>
                <item name="blog_category" xsi:type="array">
                    <item name="identifier" xsi:type="string">category_id</item>
                    <item name="fields" xsi:type="array">
                        <item name="content" xsi:type="boolean">true</item>
                    </item>
                </item>
                <item name="blog_tag" xsi:type="array">
                    <item name="identifier" xsi:type="string">tag_id</item>
                    <item name="fields" xsi:type="array">
                        <item name="content" xsi:type="boolean">true</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="mageos_blogIndexUrlProvider" xsi:type="object">MageOS\Blog\Model\Sitemap\ItemProvider\Index</item>
                <item name="mageos_blogPostProvider" xsi:type="object">MageOS\Blog\Model\Sitemap\ItemProvider\Post</item>
                <item name="mageos_blogCategoryProvider" xsi:type="object">MageOS\Blog\Model\Sitemap\ItemProvider\Category</item>
            </argument>
        </arguments>
    </type>



    <preference for="MageOS\Blog\Api\HyvaThemeDetectionInterface" type="MageOS\Blog\Model\HyvaThemeDetection"/>

    <type name="Magento\Framework\View\TemplateEngine\Php">
        <plugin name="MageOS_Blog_Plugin_Magento_Framework_View_TemplateEngine_Php"
                type="MageOS\Blog\Plugin\Magento\Framework\View\TemplateEngine\Php"
                sortOrder="10" disabled="false"/>
    </type>

</config>
