<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_blog">
        <observer name="blog_controller_action_predispatch"
                  instance="MageOS\Blog\Observer\PredispathFrontendBlogActionControllerObserver" />
    </event>

    <event name="page_block_html_topmenu_gethtml_before">
        <observer name="blog_topmenu_observer"
                  instance="MageOS\Blog\Observer\PageBlockHtmlTopMenuGetHtmlBeforeObserver" />
    </event>

    <event name="layout_load_before">
        <observer name="blog_layout_load_before"
                  instance="MageOS\Blog\Observer\LayoutLoadBeforeObserver" />
    </event>

    <event name="layout_generate_blocks_after">
        <observer name="categorySeo"
                  instance="MageOS\Blog\Observer\LayoutGenerateBlocksAfter" />
    </event>

</config>
