[class^=template-] .image-container .animation-type-zoom{-webkit-transition:transform .3s ease,opacity .3s;transition:transform .3s ease,opacity .3s}
[class^=template-] .image-container:hover .animation-type-zoom{transform:scale3d(1.1,1.1,1);-webkit-transform:scale3d(1.1,1.1,1)}
[class^=template-]{position:relative;overflow:hidden}
[class^=template-] *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
[class^=template-] *:before,[class^=template-] *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
[class^=template-] a{text-decoration:none;font-family:sans-serif}
[class^=template-] .block-title-wrap{border-bottom:2px solid var(--b-prim);margin-bottom:26px;line-height:24px}
[class^=template-] .block-title-wrap h4{display:inline-block;background:var(--b-prim);color:#fff;padding:7px 12px 5px;font-weight:500;line-height:16px}
[class^=template-] .block-content .image-container{position:relative}
[class^=template-] .image-wrap{display:block;line-height:0;overflow:hidden}
[class^=template-] .image-wrap img{display:block;width:100%;height:100%;position:absolute;background-size:cover;background-position:center center;-webkit-transition:transform .3s ease,opacity .3s;transition:transform .3s ease,opacity .3s}
[class^=template-] .block-content .image-wrap{display:block;position:relative;padding-bottom:67%;overflow:hidden}
[class^=template-] .block-content .image-wrap .bg-img{position:absolute;display:block;width:100%;height:100%;background-size:cover;background-position:center}
[class^=template-] .image-container .post-category{position:absolute;left:0;bottom:0;display:block;font-size:0;line-height:1}
[class^=template-] .image-container .post-category a{display:inline-block;margin:5px 5px 0 0;padding:5px 10px;background:var(--b-prim);color:#fff;font-size:11px;line-height:12px;font-weight:500;text-decoration:none;text-transform:uppercase;transition:all .3s ease}
[class^=template-] .post-info h3.post-title a{font-size:20px;line-height:25px;font-weight:500}
[class^=template-] .post-data-wrap{font-size:11px}
[class^=template-] .post-data{font-size:11px}
[class^=template-] .post-author{font-weight:600;font-size:11px}
[class^=template-] .post-view{display:block;background:var(--b-prim);color:#fff;font-size:10px;font-weight:600;text-align:center;line-height:11px;position:relative;top:-5px;padding:4px 6px}
[class^=template-] .post-view:after{position:absolute;bottom:-3px;left:0;content:'';width:0;height:0;border-style:solid;border-width:3px 3px 0 0;border-color:#000 transparent transparent}
[class^=template-] .post-description{line-height:21px;font-size:13px;opacity:.7}
[class^=template-] .post-list .post-item{margin-bottom:1.5rem;display:-ms-flexbox;display:flex}
[class^=template-] .post-list .image-container{-ms-flex:0 0 30%;flex:0 0 30%;max-width:30%;width:30%;order:0;position:relative}
[class^=template-] .post-list .post-info{padding:0 0 0 25px;width:100%}
[class^=template-] .block-content .post-list .post-info h3 a{font-size:14px;line-height:20px;font-weight:600}
[class^=template-] .image-wrap._16x9{padding-bottom:35% !important}
[class^=template-] .image-wrap._16x9{padding-bottom:35% !important}
[class^=template-] .image-wrap._4x3{padding-bottom:67% !important}
[class^=template-] .image-wrap._3x2{padding-bottom:55% !important}
[class^=template-] .image-wrap._1x1{padding-bottom:100% !important}
@media (min-width:768px){[class^=template-] .post-list .post-item{margin-bottom:2.5rem !important}}
@media (max-width:767px){[class^=template-] .post-list .post-item{margin-bottom:2.5rem !important}
    [class^=template-] .post-list .post-info{padding:0 0 0 15px !important}
    [class^=template-] .post-list .post-data-wrap{margin:0 !important}
}
